.ml-auto {
  margin-left: auto;
}

.zf-cropper {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  background-color: #333;
  transition: opacity 0.2s ease, transform 0.1s ease-out;
  opacity: 0;
  transform: scale(95%);
  z-index: 1100;
}

.zf-cropper_open {
  opacity: 1;
  transform: scale(100%);
}

.zf-cropper_closing {
  opacity: 0;
  transform: scale(95%);
}

.zf-cropper__toolbar {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0 8px;
}

.zf-cropper__image_hidden {
  opacity: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
}

.zf-cropper__center {
  cursor: move;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  z-index: 20;
}

.zf-cropper__center__crosshair_n,
.zf-cropper__center__crosshair_e,
.zf-cropper__center__crosshair_s,
.zf-cropper__center__crosshair_w {
  position: absolute;
  background-color: white;
}

.zf-cropper__center__crosshair_n,
.zf-cropper__center__crosshair_s {
  width: 1px;
  height: 10px;
  left: 20px;
}

.zf-cropper__center__crosshair_e,
.zf-cropper__center__crosshair_w {
  height: 1px;
  width: 10px;
  top: 20px;
}

.zf-cropper__center__crosshair_n {
  top: 0;
}

.zf-cropper__center__crosshair_s {
  bottom: 0;
}

.zf-cropper__center__crosshair_e {
  right: 0;
}

.zf-cropper__center__crosshair_w {
  left: 0;
}
