/examples export-ignore
/src export-ignore
/eslint.config.js export-ignore
/.stylelintrc.json export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/tsconfig.app.json export-ignore
/tsconfig.node.json export-ignore
/tsconfig.json export-ignore
/vite.config.ts export-ignore
/zfe-files.code-workspace export-ignore
/.php_cs export-ignore
