@use "sass:math";

.zfe-files-ajax-preview-image-wrap {
  display: flow-root;
}

.zfe-files-ajax-preview-image {
  box-sizing: content-box;
  float: left;
  margin: (math.ceil(math.div($form-group-margin-bottom, 2))) (math.ceil(math.div($form-group-margin-bottom, 2))) 0 0;
  max-width: 100%;
  min-height: 22px;
  min-width: 100px;
  position: relative;

  >.btn-toolbar {
    opacity: 0.5;
    position: absolute;
    right: $thumbnail-padding;
    z-index: 2;
  }

  &:hover>.btn-toolbar {
    opacity: 1;
  }

  .zfe-files--progress-circle {
    left: 50%;
    margin: -25px;
    position: absolute;
    top: 50%;
  }
}

.zfe-files-ajax-preview-image-canvas {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
}

.cropper-toolbar {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}