.zfe-files-ajax-preview-simple {
  list-style: none;
  margin: 0 0 0 -8px;
  padding: 0;

  > li {
    display: inline-block;
    margin: 8px 0 0 8px;
    position: relative;
    vertical-align: middle;

    > span,
    > button,
    > a {
      background-color: #fff;
      background-image: none;
      border: 1px solid #ddd;
      border-radius: 4px;
      color: #333;
      display: inline-block;
      font-size: 12px;
      line-height: 1.5;
      padding: 4px 6px;
      position: relative;
      vertical-align: middle;

      &:first-child {
        margin-left: 0;

        &:not(:last-child) {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
      }

      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }

      &:last-child:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      + span,
      + button,
      + a {
        margin-left: -1px;
      }
    }

    > a:hover {
      background-color: #eee;
    }

    > button {
      box-shadow: none;
      text-shadow: none;

      &:focus {
        background-color: #fff;
        border-color: #ddd;
        box-shadow: none;
        outline: none;
      }

      &:hover,
      &:hover:active,
      &:active:focus {
        background-color: #eee;
        border-color: #ddd;
        box-shadow: none;
        outline: none;
      }
    }

    /* stylelint-disable selector-no-qualifying-type */
    &.deleted {
      > span,
      > a,
      > button {
        &:not(.undelete) {
          opacity: 0.5;
        }
      }
    }
  }
}
