@use "sass:math";
@use './Preview/Audio/index' as *;
@use './Preview/Image/index' as *;
@use './Preview/Simple/index' as *;
@use './Preview/Video/index' as *;

.zfe-files-ajax {
  position: relative;
}

.zfe-files-ajax-static {
  display: block;
  list-style: none;
  margin-bottom: 0;
  min-height: 34px;
  padding: 7px 0;

  li {
    margin-bottom: (math.ceil(math.div($form-group-margin-bottom, 3)));
  }
}

.zfe-files-ajax-dropzone {
  outline: none;
}

.zfe-files-ajax-dropzone-label {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px dashed $input-border;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1000;

  span {
    display: block;
    line-height: 34px;
    margin-top: -17px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
}