.zfe-files--progress-circle {
  background-color: #f2e9e1;
  border-radius: 50%;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  margin: 10px;
  padding: 0;
  position: relative; /* so that children can be absolutely positioned */
  width: 50px;

  &::after {
    background-color: #fff;
    border-radius: 50%;
    border-width: 0;
    content: ' ';
    display: block;
    height: 43px;
    left: 3px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 43px;
  }

  span {
    color: #53777a;
    display: block;
    line-height: 50px;
    position: absolute;
    text-align: center;
    width: 50px;
    z-index: 2;
  }
}

.zfe-files--progress-circle--left-half-clipper {
  animation: rotate 2s linear infinite;
  border-radius: 50%;
  clip: rect(0, 50px, 50px, 25px); /* clips the whole left half*/
  height: 50px;
  position: absolute; /* needed for clipping */
  width: 50px;

  .zfe-files--progress-circle.over50 & {
    clip: rect(auto, auto, auto, auto);
  }
}

.zfe-files--progress-circle--value-bar {
  border: 6px solid #53777a; /*The border is 0.35 but making it larger removes visual artifacts */
  border-radius: 50%;
  box-sizing: border-box;
  clip: rect(0, 25px, 50px, 0);
  height: 50px;
  /* This is an overlayed square, that is made round with the border radius,
   * then it is cut to display only the left half, then rotated clockwise
   * to escape the outer clipping path. */
  position: absolute; /* needed for clipping */
  width: 50px;
  /* background-color: #4D642D; *//* for debug */
}

.zfe-files--progress-circle--first50-bar {
  .zfe-files--progress-circle.over50 & {
    background-color: #53777a;
    border-radius: 50%;
    clip: rect(0, 50px, 50px, 25px);
    height: 50px;
    position: absolute; /*needed for clipping*/
    width: 50px;
  }

  .zfe-files--progress-circle:not(.over50) & {
    display: none;
  }
}


/* Progress bar rotation position */
.zfe-files--progress-circle.p0 .value-bar { display: none; }
.zfe-files--progress-circle.p1 .value-bar { transform: rotate(4deg); }
.zfe-files--progress-circle.p2 .value-bar { transform: rotate(7deg); }
.zfe-files--progress-circle.p3 .value-bar { transform: rotate(11deg); }
.zfe-files--progress-circle.p4 .value-bar { transform: rotate(14deg); }
.zfe-files--progress-circle.p5 .value-bar { transform: rotate(18deg); }
.zfe-files--progress-circle.p6 .value-bar { transform: rotate(22deg); }
.zfe-files--progress-circle.p7 .value-bar { transform: rotate(25deg); }
.zfe-files--progress-circle.p8 .value-bar { transform: rotate(29deg); }
.zfe-files--progress-circle.p9 .value-bar { transform: rotate(32deg); }
.zfe-files--progress-circle.p10 .value-bar { transform: rotate(36deg); }
.zfe-files--progress-circle.p11 .value-bar { transform: rotate(40deg); }
.zfe-files--progress-circle.p12 .value-bar { transform: rotate(43deg); }
.zfe-files--progress-circle.p13 .value-bar { transform: rotate(47deg); }
.zfe-files--progress-circle.p14 .value-bar { transform: rotate(50deg); }
.zfe-files--progress-circle.p15 .value-bar { transform: rotate(54deg); }
.zfe-files--progress-circle.p16 .value-bar { transform: rotate(58deg); }
.zfe-files--progress-circle.p17 .value-bar { transform: rotate(61deg); }
.zfe-files--progress-circle.p18 .value-bar { transform: rotate(65deg); }
.zfe-files--progress-circle.p19 .value-bar { transform: rotate(68deg); }
.zfe-files--progress-circle.p20 .value-bar { transform: rotate(72deg); }
.zfe-files--progress-circle.p21 .value-bar { transform: rotate(76deg); }
.zfe-files--progress-circle.p22 .value-bar { transform: rotate(79deg); }
.zfe-files--progress-circle.p23 .value-bar { transform: rotate(83deg); }
.zfe-files--progress-circle.p24 .value-bar { transform: rotate(86deg); }
.zfe-files--progress-circle.p25 .value-bar { transform: rotate(90deg); }
.zfe-files--progress-circle.p26 .value-bar { transform: rotate(94deg); }
.zfe-files--progress-circle.p27 .value-bar { transform: rotate(97deg); }
.zfe-files--progress-circle.p28 .value-bar { transform: rotate(101deg); }
.zfe-files--progress-circle.p29 .value-bar { transform: rotate(104deg); }
.zfe-files--progress-circle.p30 .value-bar { transform: rotate(108deg); }
.zfe-files--progress-circle.p31 .value-bar { transform: rotate(112deg); }
.zfe-files--progress-circle.p32 .value-bar { transform: rotate(115deg); }
.zfe-files--progress-circle.p33 .value-bar { transform: rotate(119deg); }
.zfe-files--progress-circle.p34 .value-bar { transform: rotate(122deg); }
.zfe-files--progress-circle.p35 .value-bar { transform: rotate(126deg); }
.zfe-files--progress-circle.p36 .value-bar { transform: rotate(130deg); }
.zfe-files--progress-circle.p37 .value-bar { transform: rotate(133deg); }
.zfe-files--progress-circle.p38 .value-bar { transform: rotate(137deg); }
.zfe-files--progress-circle.p39 .value-bar { transform: rotate(140deg); }
.zfe-files--progress-circle.p40 .value-bar { transform: rotate(144deg); }
.zfe-files--progress-circle.p41 .value-bar { transform: rotate(148deg); }
.zfe-files--progress-circle.p42 .value-bar { transform: rotate(151deg); }
.zfe-files--progress-circle.p43 .value-bar { transform: rotate(155deg); }
.zfe-files--progress-circle.p44 .value-bar { transform: rotate(158deg); }
.zfe-files--progress-circle.p45 .value-bar { transform: rotate(162deg); }
.zfe-files--progress-circle.p46 .value-bar { transform: rotate(166deg); }
.zfe-files--progress-circle.p47 .value-bar { transform: rotate(169deg); }
.zfe-files--progress-circle.p48 .value-bar { transform: rotate(173deg); }
.zfe-files--progress-circle.p49 .value-bar { transform: rotate(176deg); }
.zfe-files--progress-circle.p50 .value-bar { transform: rotate(180deg); }
.zfe-files--progress-circle.p51 .value-bar { transform: rotate(184deg); }
.zfe-files--progress-circle.p52 .value-bar { transform: rotate(187deg); }
.zfe-files--progress-circle.p53 .value-bar { transform: rotate(191deg); }
.zfe-files--progress-circle.p54 .value-bar { transform: rotate(194deg); }
.zfe-files--progress-circle.p55 .value-bar { transform: rotate(198deg); }
.zfe-files--progress-circle.p56 .value-bar { transform: rotate(202deg); }
.zfe-files--progress-circle.p57 .value-bar { transform: rotate(205deg); }
.zfe-files--progress-circle.p58 .value-bar { transform: rotate(209deg); }
.zfe-files--progress-circle.p59 .value-bar { transform: rotate(212deg); }
.zfe-files--progress-circle.p60 .value-bar { transform: rotate(216deg); }
.zfe-files--progress-circle.p61 .value-bar { transform: rotate(220deg); }
.zfe-files--progress-circle.p62 .value-bar { transform: rotate(223deg); }
.zfe-files--progress-circle.p63 .value-bar { transform: rotate(227deg); }
.zfe-files--progress-circle.p64 .value-bar { transform: rotate(230deg); }
.zfe-files--progress-circle.p65 .value-bar { transform: rotate(234deg); }
.zfe-files--progress-circle.p66 .value-bar { transform: rotate(238deg); }
.zfe-files--progress-circle.p67 .value-bar { transform: rotate(241deg); }
.zfe-files--progress-circle.p68 .value-bar { transform: rotate(245deg); }
.zfe-files--progress-circle.p69 .value-bar { transform: rotate(248deg); }
.zfe-files--progress-circle.p70 .value-bar { transform: rotate(252deg); }
.zfe-files--progress-circle.p71 .value-bar { transform: rotate(256deg); }
.zfe-files--progress-circle.p72 .value-bar { transform: rotate(259deg); }
.zfe-files--progress-circle.p73 .value-bar { transform: rotate(263deg); }
.zfe-files--progress-circle.p74 .value-bar { transform: rotate(266deg); }
.zfe-files--progress-circle.p75 .value-bar { transform: rotate(270deg); }
.zfe-files--progress-circle.p76 .value-bar { transform: rotate(274deg); }
.zfe-files--progress-circle.p77 .value-bar { transform: rotate(277deg); }
.zfe-files--progress-circle.p78 .value-bar { transform: rotate(281deg); }
.zfe-files--progress-circle.p79 .value-bar { transform: rotate(284deg); }
.zfe-files--progress-circle.p80 .value-bar { transform: rotate(288deg); }
.zfe-files--progress-circle.p81 .value-bar { transform: rotate(292deg); }
.zfe-files--progress-circle.p82 .value-bar { transform: rotate(295deg); }
.zfe-files--progress-circle.p83 .value-bar { transform: rotate(299deg); }
.zfe-files--progress-circle.p84 .value-bar { transform: rotate(302deg); }
.zfe-files--progress-circle.p85 .value-bar { transform: rotate(306deg); }
.zfe-files--progress-circle.p86 .value-bar { transform: rotate(310deg); }
.zfe-files--progress-circle.p87 .value-bar { transform: rotate(313deg); }
.zfe-files--progress-circle.p88 .value-bar { transform: rotate(317deg); }
.zfe-files--progress-circle.p89 .value-bar { transform: rotate(320deg); }
.zfe-files--progress-circle.p90 .value-bar { transform: rotate(324deg); }
.zfe-files--progress-circle.p91 .value-bar { transform: rotate(328deg); }
.zfe-files--progress-circle.p92 .value-bar { transform: rotate(331deg); }
.zfe-files--progress-circle.p93 .value-bar { transform: rotate(335deg); }
.zfe-files--progress-circle.p94 .value-bar { transform: rotate(338deg); }
.zfe-files--progress-circle.p95 .value-bar { transform: rotate(342deg); }
.zfe-files--progress-circle.p96 .value-bar { transform: rotate(346deg); }
.zfe-files--progress-circle.p97 .value-bar { transform: rotate(349deg); }
.zfe-files--progress-circle.p98 .value-bar { transform: rotate(353deg); }
.zfe-files--progress-circle.p99 .value-bar { transform: rotate(356deg); }
.zfe-files--progress-circle.p100 .value-bar { transform: rotate(360deg); }
